extends ../layouts/default
include ../blocks/act
include ../blocks/new
include ../blocks/supporter
include ../blocks/custom-input

block head
    - var pageTitle = 'Поступок';
    -popups.complain = true;

block content

    .tabs
        +b.head-title_nav
            .container
                ul.tabs__nav.tabs__nav_sections

                    - var tabsNav = ['Информация', 'Фотогалерея', 'Живая лента', 'Похожие поступки'];

                    each item, ind in tabsNav

                        li.tabs__nav-item(class=(ind === 0 ? 'tabs__nav-item_active' : '') data-tab='#{ind}')
                            a.tabs__nav-link(href=jv0)= item

        .tabs__panels-wrapper

            .tabs__panel.tabs__panel_active(data-tab=0)

                +b.act-info

                    +e.header
                        +act({
                            mod: '_horiz',
                            'src': 'http://loremflickr.com/375/200?random=' + ind,
                            'srcset': 'http://loremflickr.com/750/400?random=' + ind,
                            'name': true,
                            'noBattery': true
                        })

                    +e.SECTION.section
                        .container

                            +b.H2.title Бежим марафон Весенний Гром ради помощи детям!
                            +e.occasion Повод: Просто бегаем 18 ноября 2015

                            +e.content
                                p
                                    | Управление брендом подсознательно концентрирует повседневный охват аудитории,
                                    |  признавая определенные рыночные тенденции. В общем, традиционный канал существенно
                                    |  продуцирует побочный PR-эффект. Управление брендом подсознательно концентрирует

                            +e.base.columns_grid
                                .columns__col.columns__col_6
                                    +e.subtitle При поддержке фонда:
                                    +e.fund(href=jv0)
                                        +e.IMG.fund-logo(src='http://loremflickr.com/70/40?random', srcset='http://www.loremflickr.com/140/80?random 2x' alt='логотип фонда')

                                .columns__col.columns__col_6
                                    +e.subtitle До начала поступка осталось:
                                    +e.text 5 дней

                            +b.fees.act-info__fees
                                .columns.columns_grid
                                    .columns__col.columns__col_5
                                        +e.stat
                                            +e.item_mark
                                                +e.P.text Собрано: #{' '}
                                                    +e.SPAN.val 64&nbsp;200
                                                        +b.SVG.rub
                                                            use(xlink:href='i/icons.svg#icon-ruble')
                                            +e.item
                                                +e.P.text Цель: #{' '}
                                                    +e.SPAN.val 120&nbsp;000
                                                        +b.SVG.rub
                                                            use(xlink:href='i/icons.svg#icon-ruble')

                                        +b.link-dashed.link_no-underline(href=jv0) 84 пожертования

                                    .columns__col.columns__col_7
                                        +b.battery_big(data-val='100')
                                            +e.body
                                                +e.val 0%
                                                +e.progress
                                            +e.SVG.lightning
                                                use(xlink:href='i/icons.svg#icon-lightning')

                            +b.btn_size_wide._light.act-info__donation(href=jv0) Пожертвовать

                            +b.share.act-info__share
                                .columns
                                    .columns__col.share__like-btn
                                        +b.like-btn_big(href=jv0)
                                            +e.SVG.icon
                                                use(xlink:href='i/icons.svg#icon-thumbs-up')

                                    .columns__col.share__socials-wrapper
                                        +e.text Поделиться:

                                        +b.UL.socials_share.share__socials

                                            - var socials = ['fb', 'in', 'gplus', 'vk']

                                            each item in socials
                                                +e.item
                                                    +e.link(class='_#{item}' href=jv0)
                                                        +e.SVG.icon
                                                            use(xlink:href='i/icons.svg#icon-#{item}')
                                                        +e.num 55

                            +b.btn_theme_simple._size_wide(href='#complain-popup') Пожаловаться

                    +e.SECTION.section
                        .container

                            +e.H2.title.title Нас поддержали:

                            +b.support-list

                                each i in [0, 1, 2]

                                    +e.item
                                        +supporter({
                                            'src': 'http://www.placecage.com/c/40/40',
                                            'srcset': 'http://www.placecage.com/c/80/80',
                                            'name': 'Елена Малахова',
                                            'money': 30000,
                                            'text': 'Управление брендом подсознательно концентрирует повседневный охват аудитории, признавая определенные рыночные тенденции. В общем, традиционный канал существенно продуцирует побочный PR-эффект.'
                                        })

                            +b.preloader.act-info__preloader
                                +e.SPAN.text Идет загрузка...

            .tabs__panel(data-tab=1)
                +b.act-photos
                    .container

                        -
                            var photos = [
                                { width: 300, height: 150 },
                                { width: 400, height: 250 },
                                { width: 450, height: 300 },
                                { width: 350, height: 250 }
                            ]

                        each photo, ind in photos

                            +e.IMG.img(src='http://loremflickr.com/' + photo.width + '/' + photo.height + '?random=' + ind,
                                srcset='http://loremflickr.com/' + photo.width * 2 + '/' + photo.height * 2 + '?random=' + ind + ' 2x')

            .tabs__panel(data-tab=2)
                +b.news-sec
                    .container
                        +e.content

                            +b.share-btn.news-sec__btn(href=jv0) Написать пост в ленту

                            +e.list_posts

                                each i in [0, 1, 2, 3]
                                    +new({
                                        mod: i === 0 ? '_mark news-sec__item' : 'news-sec__item',
                                        img: i === 1 ? true : false,
                                        quiz: i === 2 ? true : false,
                                        video: i === 3 ? true : false,
                                        author: true
                                    })
                                        p(class=(i === 0 ? 'content__big-text' : ''))
                                            | Как отмечает Майкл Мескон, привлечение аудитории продуцирует фирменный
                                            |  стиль. Стимулирование сбыта достижимо в разумные сроки. Портрет потребителя
                                            |  парадоксально продуцирует продвигаемый комплексный анализ ситуации.

                            +b.preloader
                                +e.SPAN.text Идет загрузка...

            .tabs__panel(data-tab=3)
                +b.acts-sec_in
                    +e.main
                        .container

                            +e.list

                                -
                                    var acts = [
                                        'Обливание холодной водой',
                                        'Бежишь и приносишь пользу обществу',
                                        'Бежишь и весело припрыгиваешь'
                                    ];

                                each act, ind in acts

                                    +e.item

                                        +act({
                                            'mod': '_horiz',
                                            'src': 'http://loremflickr.com/330/200?random=' + ind,
                                            'srcset': 'http://loremflickr.com/660/400?random=' + ind,
                                            'text': act,
                                            'fund': true,
                                            'name': true
                                        })
                                            if ind === 0
                                                +e.occasion(href=jv0) Повод: Просто бегаем 18 ноября 2015
